#red {
    color: red;
    width: 100%;
}

#blue {
    color: blue;
    width: 50%;
}

#orange {
    color: orange;
    width: 50%;
}

#green {
    color: green;
    width: 100%;
}

#yellow {
    color: yellow;
    width: 100%;
}